In [1]:
import pandas as pd

In [67]:
df = pd.read_csv("pokemon_data.csv")

In [15]:
df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [16]:
df.head(10)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,44,48,65,50,64,43,1,False

In [21]:
df.tail(10)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
790,714,Noibat,Flying,Dragon,40,30,35,45,40,55,6,False
791,715,Noivern,Flying,Dragon,85,70,80,97,80,123,6,False
792,716,Xerneas,Fairy,NaN,126,131,95,131,98,99,6,True
793,717,Yveltal,Dark,Flying,126,131,95,131,98,99,6,True
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [26]:
df[["Attack","HP"]].iloc[90:100]

    Attack   HP
90      65   52
91      85   35
92     110   60
93      45   65
94      70   90
95      80   80
96     105  105
97      65   30
98      95   50
99      35   30

In [27]:
df.iloc[90:100,1:3]

          Name  Type 1
90  Farfetch'd  Normal
91       Doduo  Normal
92      Dodrio  Normal
93        Seel   Water
94     Dewgong   Water
95      Grimer  Poison
96         Muk  Poison
97    Shellder   Water
98    Cloyster   Water
99      Gastly   Ghost

In [39]:
df.loc[(df["Type 1"]=="Water") & ((df["HP"]>50) | (df["HP"]<40))]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
10,8,Wartortle,Water,NaN,59,63,80,65,80,58,1,False
11,9,Blastoise,Water,NaN,79,83,100,85,105,78,1,False
12,9,BlastoiseMega Blastoise,Water,NaN,79,103,120,135,115,78,1,False
60,55,Golduck,Water,NaN,80,82,78,95,80,85,1,False
66,61,Poliwhirl,Water,NaN,65,65,65,50,50,90,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
713,647,KeldeoOrdinary Forme,Water,Fighting,91,72,90,129,90,108,5,False
714,647,KeldeoResolute Forme,Water,Fighting,91,72,90,129,90,108,5,False
725,657,Frogadier,Water,NaN,54,63,52,83,56,97,6,False
726,658,Greninja,Water,Dark,72,95,67,103,71,122,6,False
763,693,Clawitzer,Water,NaN,71,73,88,120,89,59,6,False

In [40]:
df["Strength"] = df["HP"] + df["Attack"]+df["Defense"]

In [41]:
df.head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Strength
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,143
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,185
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,245
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,303
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,134

In [42]:
df.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary', 'Strength'],
      dtype='object')

In [62]:
df.drop(columns = ["Strength"])

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [68]:
df["Strength"] = df["HP"] + df["Attack"]+df["Defense"]

In [69]:
df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Strength
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,143
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,185
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,245
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,303
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,134
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,300
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,320
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,250
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,300
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,310

In [70]:
df.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary', 'Strength'],
      dtype='object')

In [53]:
kolom = list(df.columns)

In [54]:
df = df[kolom[:4]+[kolom[-1]]+kolom[4:-1]]

In [65]:
df2 = df[["Name","Type 1","Type 2","Strength"]]

In [71]:
df["Spesial"] = False

In [72]:
df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Strength,Spesial
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,143,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,185,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,245,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,303,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,134,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,300,False
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,320,False
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,250,False
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,300,False
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,310,False

In [77]:
df["Spesial"].iloc[100] = [True]

In [78]:
df["Spesial"].iloc[100]

True

In [86]:
df.loc[(df["Type 1"]=="Water") & ((df["HP"]>50)),["Spesial","Legendary"]]=[True,"Tesmas"]

In [87]:
df.iloc[7:15]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Strength,Spesial
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False,319,False
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False,260,False
9,7,Squirtle,Water,NaN,44,48,65,50,64,43,1,False,157,False
10,8,Wartortle,Water,NaN,59,63,80,65,80,58,1,Tesmas,202,True
11,9,Blastoise,Water,NaN,79,83,100,85,105,78,1,Tesmas,262,True
12,9,BlastoiseMega Blastoise,Water,NaN,79,103,120,135,115,78,1,Tesmas,302,True
13,10,Caterpie,Bug,NaN,45,30,35,20,20,45,1,False,110,False
14,11,Metapod,Bug,NaN,50,20,55,25,25,30,1,False,125,False

In [88]:
df.describe()

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Strength
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000,800.000000
mean,362.813750,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375,222.102500
std,208.343798,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129,68.173834
min,1.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000,55.000000
25%,184.750000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000,170.000000
50%,364.500000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000,222.000000
75%,539.250000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000,269.250000
max,721.000000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000,440.000000

In [89]:
df["count"] = 1

In [93]:
df=df.drop(columns=["Strength","Spesial"])

In [94]:
df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,count
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,1
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,1
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,1
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,1
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,1
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,1
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,1
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,1
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,1

In [99]:
df.describe()

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,count
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000,800.0
mean,362.813750,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375,1.0
std,208.343798,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129,0.0
min,1.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000,1.0
25%,184.750000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000,1.0
50%,364.500000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000,1.0
75%,539.250000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000,1.0
max,721.000000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000,1.0

In [100]:
df.groupby(["Legendary","Type 1"]).mean()

                             #          HP      Attack     Defense  \
Legendary Type 1
False     Bug       334.492754   56.884058   70.971014   70.724638
          Dark      451.517241   64.655172   86.862069   68.689655
          Dragon    447.350000   72.650000  103.400000   78.150000
          Electric  358.050000   57.325000   66.125000   65.425000
          Fairy     432.875000   70.875000   57.187500   63.875000
          Fighting  363.851852   69.851852   96.777778   65.925926
          Fire      322.957447   67.085106   82.191489   64.531915
          Flying    714.500000   62.500000   50.000000   57.500000
          Ghost     486.466667   58.733333   71.366667   79.266667
          Grass     336.074627   65.940299   72.119403   70.283582
          Ground    333.750000   70.821429   88.000000   79.821429
          Ice       438.318182   70.818182   73.227273   68.818182
          Normal    315.625000   76.489583   72.083333   58.697917
          Poison    251.785714   67.250000   74.678571   68.821429
          Psychic   374.093023   67.720930   54.953488   61.000000
          Rock      370.650000   65.125000   89.925000   97.125000
          Steel     437.913043   60.434783   92.086957  126.652174
          Water     269.178571   40.892857   53.035714   56.821429
True      Dark      604.000000   98.000000  110.500000   92.500000
          Dragon    519.416667  101.083333  126.666667  100.083333
          Electric  418.000000   84.500000   98.750000   75.000000
          Fairy     716.000000  126.000000  131.000000   95.000000
          Fire      369.200000   96.400000  109.000000   98.200000
          Flying    641.000000   79.000000  107.500000   75.000000
          Ghost     487.000000  150.000000  110.000000  110.000000
          Grass     541.333333   97.000000   97.666667   82.333333
          Ground    514.000000   94.500000  150.000000  120.000000
          Ice       261.000000   85.000000   67.500000  100.000000
          Normal    489.500000  115.000000  140.000000  115.000000
          Psychic   401.428571   79.571429  122.142857   88.214286
          Rock      613.500000   67.750000  122.250000  137.500000
          Steel     471.250000   92.750000   96.250000  124.750000
Tesmas    Water     314.392857   82.452381   81.190476   78.321429

                       Sp. Atk     Sp. Def       Speed  Generation  count
Legendary Type 1
False     Bug        53.869565   64.797101   61.681159    3.217391    1.0
          Dark       70.620690   67.827586   73.689655    3.965517    1.0
          Dragon     72.900000   77.400000   72.350000    3.750000    1.0
          Electric   86.275000   72.325000   82.275000    3.275000    1.0
          Fairy      75.250000   83.875000   45.437500    4.000000    1.0
          Fighting   53.111111   64.703704   66.074074    3.370370    1.0
          Fire       86.000000   69.042553   73.276596    3.234043    1.0
          Flying     71.000000   60.000000   89.000000    6.000000    1.0
          Ghost      77.300000   74.233333   62.633333    4.200000    1.0
          Grass      76.343284   69.044776   59.701493    3.313433    1.0
          Ground     47.750000   59.571429   59.750000    3.035714    1.0
          Ice        75.727273   68.454545   63.090909    3.681818    1.0
          Normal     54.895833   62.656250   70.750000    3.031250    1.0
          Poison     60.428571   64.392857   63.571429    2.535714    1.0
          Psychic    88.302326   80.674419   70.348837    3.418605    1.0
          Rock       60.125000   71.775000   53.550000    3.300000    1.0
          Steel      61.217391   76.304348   49.739130    3.869565    1.0
          Water      50.750000   48.535714   60.607143    2.571429    1.0
True      Dark      133.000000   94.000000  112.000000    5.000000    1.0
          Dragon    136.750000  107.916667  100.833333    4.083333    1.0
          Electric  127.500000   87.500000  106.750000    3.250000    1.0
          Fairy     131.000000   98.000000   99.000000    6.000000    1.0
          Fire      117.000000  102.000000   85.400000    3.000000    1.0
          Flying    117.500000   85.000000  116.000000    5.000000    1.0
          Ghost     110.000000  110.000000   90.000000    4.000000    1.0
          Grass     103.333333  101.333333  111.666667    4.333333    1.0
          Ground    117.500000   85.000000   93.000000    4.000000    1.0
          Ice        97.500000  162.500000   67.500000    2.000000    1.0
          Normal    100.000000  115.000000  110.000000    4.000000    1.0
          Psychic   129.428571  103.500000  115.714286    3.285714    1.0
          Rock       95.500000  112.500000   79.500000    5.000000    1.0
          Steel     103.750000  105.500000   87.000000    3.750000    1.0
Tesmas    Water      82.833333   77.845238   67.750000    2.952381    1.0

In [101]:
df.to_csv("data_baru.csv",index=False)